.about {
  width: 100%; 
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #3e497a;
}

.about .md {
  width: 40%;
  font-size: 30px;
}

.md {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: auto;
  align-items: auto;
  text-align: left;
  background-color: #21325e;
  color: #f0f0f0;
}


.yt{
  width: 100%;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #000000;
}


