.home {
  width: 100vw;
  align-items: center;
  font-family: "Arial", sans-serif;
  color: #111111;
}

.home_hd {
  width: 100vw;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #222229;
  background-image: url( "/quad_parabola_fin.svg" ) ;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  color: #f0f0f0;
}
.home_hd h2 {
  font-family:   "Courier New", "Lucida Console",monospace;
  /*font-family: Arial, Helvetica, sans-serif;*/
/*monospace;"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
  
  font-size: 80px;
  color: #ffffff;
  height: 50px;
}

.home_hd .prompt {
  width: 40%;
  font-size: 30px;
}
.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.skills {
  font-size: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #111111;
}

.skills .list {
  list-style: none;
  width: 60%;
}

.list span {
  font-size: 20px;
}

@media only screen and (max-width: 625px) {
  .home_hd h2 {
  }

  .home_hd .prompt {
    margin-top: 100px;
    width: 80%;
  }
  
  .skills {
    text-align: center;
  }
  .list {
    padding: 0;
  }

  .skills h2 {
    font-size: 30px;
  }
}
